body{
    margin: 0;
    background: url('image/background.jpg');
}
.container{
    margin-top: 40px;
}
nav a span{
    color: black;
    font-weight: bolder;
}
.navbar img{
    width: 70px;
    padding-right: 10px;
}
.row .col-4{
    padding-right: 4px;
}
.row .col-5 h1{
    padding-bottom: 150px;
    padding-right: 50px;
    margin-top: 80px;
    color: #d1885f;
}
    .row .col-7{
        padding-left: 170px;
        padding-right: 10px;
    }
    .row .col-7 .carousel .carousel-control-next{
        margin-right: 140px;
    }
.row .col-4 h4{
    color: #b78c83;
}
